.fb {
    border: 5px rgb(33, 25, 82) solid;
    width: 406px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top img {
    width: 180px;
    margin-left: 10%;
    margin-right: 40%;
}

.nav {
    background-color: rgb(116, 144, 184);
    width: 100%;
}

.low {
    background-color: rgb(33, 25, 82);
    bottom: 0;
    position: fixed;
    width: 100%;
}

ul {
    margin: 0%;
    padding: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


li {
    margin: 15px 5%;
    display: flex;
}

#container {
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0px;
}

a {
    color: #fff;
    text-decoration: none;
}

#modwinddiv {
    margin-bottom: 70px;
}